@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

html {
  height: -webkit-fill-available;
}

body.min-vh-100 {
  min-height: -webkit-fill-available;
}


:root {
  @media (orientation: landscape) {
    --bs-gutter-x: env(safe-area-inset-right);
  }
}
