<!doctype html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="maximum-scale=.5" />
    
	<link rel="shortlink" href="http://earlsurls.site/" />
    <link rel="stylesheet" href="/css/app.css"/>

	<title>EARLS URLS</title>
</head>
<body>
	<div class="site-wrapper">
		<div class="site-wrapper-inner">
			<div class="cover-container">
				<div class="masthead clearfix">
					<div class="inner">
						<h1><a href="/">Earls Urls</a></h1>
					</div>
				</div>

				<div class="inner cover">
				{{{body}}}
				</div>

				<div class="mastfoot">
					<div class="inner">
						<p><a href="http://rack.and.pinecone.website">rack &amp; pinecone</a></p>
					</div>
				</div>
			</div>
		</div>
    </div>
</body>
</html>