<form method="post" action="/shorten">
	<fieldset>
		<input type="text" class="input" id="url" name="url" tabindex="1" value="http://"/>
		<input type="submit" class="button" tabindex="3" value="Shorten" />
	</fieldset>
</form>