@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

html {
  height: -webkit-fill-available;
  // overscroll-behavior: contain;
}

body.min-vh-100 {
  min-height: -webkit-fill-available !important;
}

:root {
  @media (orientation: landscape) {
    --bs-gutter-x: max(env(safe-area-inset-right), 0.75rem);
  }
}
