<form method="post">
    <div class="mb-3">
        <input name="username" type="text" 
        placeholder="username" value="{{user.username}}"/></div>
    
    <div class="mb-3"><input name="email" 
    placeholder="email" type="email" value="{{user.email}}"/></div>
    
    <div class="mb-3"><input name="password" 
    placeholder="update password" type="password"/></div>
    
    <div class="mb-3"><input name="password_confirm" 
    placeholder="confirm password" type="password"/></div>

    <button
      type="submit"
      class="btn btn-lg btn-primary btn-block"
      tabindex="4"
    >Update profile</button>
</form>