<form class="form-signin" method="post" action="/shorten">
  <fieldset>
    <input
      type="text"
      class="form-control"
      id="url"
      name="url"
      tabindex="3"
      value="http://"
    />
    <input
      type="submit"
      class="btn btn-lg btn-primary btn-block"
      tabindex="4"
      value="Shorten"
    />
  </fieldset>
</form>