<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="maximum-scale=.5" />

    <link rel="shortlink" href="http://earlsurls.site/" />
    <link rel="stylesheet" href="/static/css/app.css" />

    <title>EARLS URLS</title>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Earls Urls</a>
        </div>

        <div class="" id="">
          {{#if user}}
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/u/stats" class="">stats</a></li>
              <li><a href="/u/logout" class="">logout</a></li>
            </ul>
          {{else}}
            <form
              method="post"
              action="/u/auth"
              id="login"
              class="navbar-form navbar-right control-login"
              role="form"
            >
              <div class="input-group">
                <input
                  id="username"
                  type="text"
                  class="form-control"
                  name="username"
                  value=""
                  placeholder="username"
                />
              </div>

              <div class="input-group">
                <input
                  id="password"
                  type="password"
                  class="form-control"
                  name="password"
                  value=""
                  placeholder="password"
                />
              </div>

              <button
                type="submit"
                class="btn btn-primary"
                name="login"
                value="1"
              >login</button>
              <button
                type="submit"
                class="btn btn-primary"
                name="register"
                value="1"
              >register</button>
            </form>
          {{/if}}
        </div>
      </div>
    </nav>

    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="masthead clearfix">

          </div>

          <div class="inner cover">
            {{{body}}}
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>
                {{#if version}}
                  <span>v {{version}}</span>
                  /
                {{/if}}
                <a
                  href="https://github.com/pinecone-dot-website/earls-urls"
                >github</a>
                /
                <a href="https://rack.and.pinecone.website">rack &amp; pinecone</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>